build/
out/
.vscode/
.vs/
.DS_Store
CMakeFiles/
CMakeCache.txt
compile_commands.json
*.xcodeproj
*.xcworkspace
imgui.ini
Assets/Cache/
Assets/Models/Sponza
Assets/Scenes/SponzaTest.Scene
Tools/texconv.exe
Logs/